h1{
    text-align: center;
    color:white
}
h2 
{
    text-align: center;
    color:gold;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    color:whitesmoke;
    font-style: italic;
    font-size: large;
    width: 400px;
    
    
}
#one
{   background-color:pink ;
    border-width: 10px;
    border-color:red;
    border-style: solid;
    padding: 20px;
    margin: auto;
    margin-bottom: auto;
    margin-top: auto;
}
*{
    background-color:rgb(48, 46, 46);
}
body{
    color:gold;
   
    
}

img{
    width: 50%;
    margin: 1px auto;
    display: block;
    border-radius: 10pxs; 
    border-style: double;   
}
div{
    color: white;
    border-style:solid ;
    padding:20px;
    border-color:royalblue;
    margin-left: auto;
    margin-top:20px;
}
a
{
    color: whitesmoke;
    text-align: center;
}