h1{
    text-align: center;
    color:white
}
h2 
{
    text-align: center;
    color:gold;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    color:whitesmoke;
    font-style: italic;
    font-size: large;
}
*{
    background-color:rgb(48, 46, 46);
}
body{
    color:gold;
   
    
}

img{
    width: 50%;
    margin: 1px auto;
    display: block;    
}
div{
    color: white;
}
a
{
    color: whitesmoke;
    text-align: center;
}